@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&family=Inter:wght@400;500;600;700;800;900&display=swap");

body {
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

:root {
  --color-text: #444444;
  --color-text-light: #747474;
  --color-gray-light: #f9f9f9;
  --color-primary: #0e3bbc;
  --color-primary-light: #e7edfd;
  --color-error: #bc3b0e;
  --color-border: #e0e0e0;
  --size-max-width: 1200px;
}
