header, main {
  max-width: 920px;
}

.topic {
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
}

.topic.answered::after {
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  color: var(--color-primary);
  content: "Answered";
  font-size: 0.75rem;
  font-weight: 600;
  padding: 3px 8px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.topic + .topic {
  margin-top: 1.5rem;
}

.topic > h2 {
  font-size: 1rem;
}

.topic > p {
  font-size: 0.875rem;
}

.questions {
  display: flex;
  margin-top: 0.75rem;
}

.question {
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  flex: 1;
  padding: 1rem;
}

.question + .question {
  margin-left: 0.75rem;
}

.question > h3 {
  font-size: 1rem;
}

.options {
  display: flex;
  margin-top: 0.5rem;
}

.radio-button > div {
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  height: 2rem;
  justify-content: center;
}

.radio-button + .radio-button {
  margin-left: 0.5rem;
}

.radio-button > input {
  display: none;
}

.radio-button > input[value="bad"] + div {
  color: var(--color-red);
}

.radio-button > input[value="neutral"] + div {
  color: var(--color-orange);
}

.radio-button > input[value="good"] + div {
  color: var(--color-green);
}

.radio-button > input:checked + div {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}

button[type="submit"] {
  margin-top: 1.5rem;
}
