body {
  padding: 1.5rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  color: var(--color-primary);
  font-size: 1.25rem;
}

main {
  align-items: flex-start;
  display: flex;
  gap: 1.25rem;
  margin: 1.5rem auto 0;
  max-width: 1200px;
}

main > form {
  flex: 1;
}

.selection-manager {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.selection-manager button {
  background-color: white;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 0.875rem;
  font-weight: 600;
  height: 2rem;
  margin-left: 0.5rem;
}

table {
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  width: 100%;
}

table tr[data-selected] td {
  background-color: var(--color-gray-light);
}

table th {
  text-align: left;
}

table th,
table td {
  padding: 1rem;
}

table th {
  border-bottom: 1px solid var(--color-border);
}

table tbody tr:nth-child(2n - 1) td {
  border-bottom: 1px solid var(--color-border);
}

table tbody td:first-of-type {
  width: 3rem;
}

table input[type="checkbox"] {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}

table td {
  vertical-align: top;
}

table td a {
  color: var(--color-primary);
}

td.multi-row div:first-child {
  font-weight: 600;
}

td.multi-row div:last-child {
  color: var(--color-text-light);
  margin-top: 0.125rem;
}

aside {
  background-color: var(--color-gray-light);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 19rem;
}

aside h2 {
  font-size: 1rem;
  font-weight: 600;
}

aside form {
  margin-top: 1rem;
}

aside label + label {
  margin-top: 1rem;
}

aside form > button {
  margin-top: 1rem;
  width: 100%;
}
