label {
  margin-top: 1.25rem;
}

button[type="submit"] {
  margin-top: 1.5rem;
}

tr:not([data-hasanswers]) td {
  background-color: var(--color-gray-light);
  color: var(--color-text-dim);
}

table th:not(:first-of-type) {
  text-align: center;
}

table td {
  vertical-align: middle;
}
