<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Health Check</title>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
  </head>
  <body>
    <div>
      <h1>
        Squad health checks made
        <b>easy</b>.
      </h1>
      <p>
        Run and facilitate squad health check sessions, reuse templates and
        manage historical sessions to take your team(s) to the next level!
      </p>
      <p>
        This is an open source project, but it implements the well-known Spotify
        Squad Health Check model, used by teams around the world.
      </p>
      <a href="/login">
        Login
      </a>
    </div>
  </body>
</html>
